<section role="main" class="scroll-container">
  <div class="row">
    <div class="large-16">
      <h4 id="orbit"></h4>
      <ul id="featured1" data-options="slide_number: false;" data-orbit data-options1="timer_speed:5000;">
        <li>
          <%= image_tag 'http://placehold.it/1000x450/66AABB/fff', alt: 'Placeholder' %>
          <div class="orbit-caption">
            The most beautiful quilt!
          </div>
        </li>
        <li>
          <%= image_tag 'http://placehold.it/1000x450/AABBFF/fff', alt: 'Placeholder' %>
          <div class="orbit-caption">
            Quilt quilt quilt?
          </div>
        </li>
        <li>
          <%= image_tag 'http://placehold.it/1000x450/AB88DD/fff', alt: 'Placeholder' %>
          <div class="orbit-caption">
            I love quilt!
          </div>
        </li>
      </ul>
      <script>
          $(document).foundation();
          var self = this
      </script>
    </div>
  </div>
</section>

